In [46]:
#10,11,14 left

In [44]:
#1.Write a Python program to triple all numbers in a given list of integers. Use Python map
a=[1,2,3,4,5]
print(list(map(lambda x:x*3,a)))

[3, 6, 9, 12, 15]

In [3]:
#2. Write a Python program to add three given lists using Python map and lambda.
a=[1,2,3,4,5]
b=[2,3,4,5,6]
c=[3,4,5,6,7]
print(list(map(lambda i:sum(i),zip(a,b,c))))

[6, 9, 12, 15, 18]

In [8]:
#3. Write a Python program to listify the list of given strings individually using Python map.
# Original list: 
# ['Red', 'Blue', 'Black', 'White', 'Pink']

# After listify the list of strings are:
# [['R', 'e', 'd'], ['B', 'l', 'u', 'e'], ['B', 'l', 'a', 'c', 'k'], ['W', 'h', 'i', 't', 'e'], ['P', 'i', 'n', 'k']]
a=['Red', 'Blue', 'Black', 'White', 'Pink']
def listify(s):#yahan s item of list hai
    return list(s)#har item string vali list mein convert ho jaegi
print(list(map(listify,a)))

[['R', 'e', 'd'], ['B', 'l', 'u', 'e'], ['B', 'l', 'a', 'c', 'k'], ['W', 'h', 'i', 't', 'e'], ['P', 'i', 'n', 'k']]

In [9]:
#4. Write a Python program to create a list containing the power of said number in bases raised to the 
#corresponding number in the index using Python map.
bases_num = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
index = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(list(map(lambda x,y:x**y,bases_num,index)))

[10, 400, 27000, 2560000, 312500000, 46656000000, 8235430000000, 1677721600000000, 387420489000000000, 100000000000000000000]

In [10]:
#5. Write a Python program to square the elements of a list using the map() function
a=[1,2,5,3,4]
print(list(map(lambda x:x**2,a)))

[1, 4, 25, 9, 16]

In [11]:
#6. Write a Python program to convert all the characters into uppercase and lowercase and eliminate duplicate
#letters from a given sequence. Use the map() function.
# Original Characters:
#  {'f', 'b', 'U', 'i', 'o', 'E', 'a','A'}

# After converting above characters in upper and lower cases
# and eliminating duplicate letters:
# {('U', 'u'), ('O', 'o'), ('A', 'a'), ('B', 'b'), ('F', 'f'), ('I', 'i'), ('E', 'e')}
a= {'f', 'b', 'U', 'i', 'o', 'E', 'a','A'}
def change_cases(s):
    return str(s).upper(), str(s).lower()
result = map(change_cases, a)
print(set(result))

{('O', 'o'), ('B', 'b'), ('E', 'e'), ('F', 'f'), ('I', 'i'), ('U', 'u'), ('A', 'a')}

In [15]:
#7. Write a Python program to add two given lists and find the difference between them. Use the map() function.
a=[1,2,3,4,5]
b=[2,3,4,5,6]
print(list(map(lambda x,y:(x+y,x-y),a,b)))

[(3, -1), (5, -1), (7, -1), (9, -1), (11, -1)]

In [16]:
#8. Write a Python program to convert a given list of integers and a tuple of integers in a list of strings.
a=[1,2,3,4,5]
print(list(map(lambda x:str(x),a)))

['1', '2', '3', '4', '5']

In [19]:
#9. Write a Python program to create a new list taking specific elements from a tuple and 
# convert a string value to an integer.
# Original data:
# [('Alberto Franco', '15/05/2002', '35kg'), ('Gino Mcneill', '17/05/2002', '37kg'), ('Ryan Parkes', '16/02/1999', '39kg'), ('Eesha Hinton', '25/09/1998', '35kg')]

# Student name:
# ['Alberto Franco', 'Gino Mcneill', 'Ryan Parkes', 'Eesha Hinton']
# Student name:
# ['15/05/2002', '17/05/2002', '16/02/1999', '25/09/1998']
# Student weight:
# [35, 37, 39, 35]
a=[('Alberto Franco', '15/05/2002', '35kg'), ('Gino Mcneill', '17/05/2002', '37kg'), ('Ryan Parkes', '16/02/1999', '39kg'), ('Eesha Hinton', '25/09/1998', '35kg')]
print(list(map(lambda x:x[0],a)))
print(list(map(lambda x:x[1],a)))
print(list(map(lambda x:int(x[2][:-2]),a)))

['Alberto Franco', 'Gino Mcneill', 'Ryan Parkes', 'Eesha Hinton']
['15/05/2002', '17/05/2002', '16/02/1999', '25/09/1998']
[35, 37, 39, 35]

In [ ]:
#10. Write a Python program to compute the square of the first N Fibonacci numbers, 
#using the map function and generate a list of the numbers.

In [ ]:
#11. Write a Python program to compute the sum of elements of an array of integers. Use the map() function.

In [43]:
#12. Write a Python program to find the ratio of positive numbers, negative numbers and zeroes in an array of integers.
a=[0, 1, 2, -1, -5, 6, 0, -3, -2, 3, 4, 6, 8]
def ratio(a):
    
    z=0
    p=0
    n=0
    for i in a:
        if i==0:
            z+=1
        elif i>0:
            p+=1
        else:
            n+=1
    t=p+z+n
    print(list(map(lambda x:x/t,(p,n,z))))
ratio(a)

[0.5384615384615384, 0.3076923076923077, 0.15384615384615385]

In [38]:
#13. Write a Python program to count the same pair in two given lists. use map() function.
from operator import eq
a=[1,2,3,4,5,6]
b=[1,3,4,4,2,6]
print(sum(map(eq,a,b)))
print(sum(x==y for x,y in zip(a,b)))

3
3

In [ ]:
#14. Write a Python program to interleave two lists into another list randomly. Use the map() function.

In [35]:
#15. Write a Python program to split a given dictionary of lists into list of dictionaries using the map function.
# Original dictionary of lists:

# {'Science': [88, 89, 62, 95], 'Language': [77, 78, 84, 80]}

# Split said dictionary of lists into list of dictionaries:
# [{'Science': 88, 'Language': 77}, {'Science': 89, 'Language': 78}, {'Science': 62, 'Language': 84}, 
#{'Science': 95, 'Language': 80}]
a={'Science': [88, 89, 62, 95], 'Language': [77, 78, 84, 80]}
print(list(zip(*a.values())))
print(*a.values())   
print(list(map(lambda x:dict(zip(a.keys(),x)),zip(*a.values()))))

[(88, 77), (89, 78), (62, 84), (95, 80)]
[88, 89, 62, 95] [77, 78, 84, 80]
[{'Science': 88, 'Language': 77}, {'Science': 89, 'Language': 78}, {'Science': 62, 'Language': 84}, {'Science': 95, 'Language': 80}]

In [28]:
#16. Write a Python program to convert a given list of strings into a list of lists using the map function.
a=['alisha','arpit','hdd','rohan']
print(list(map(lambda x:[(x[i])for i in range(len(x))],a)))

[['a', 'l', 'i', 's', 'h', 'a'], ['a', 'r', 'p', 'i', 't'], ['h', 'd', 'd'], ['r', 'o', 'h', 'a', 'n']]

In [25]:
#17. Write a Python program to convert a given list of tuples to a list of strings using the map function
a=[('a','b'),('h','i'),(5,6),(7,8)]
# b=list(map(lambda x:(str(x[0]),str(x[1])),a))
print(list(map(''.join,b)))

['ab', 'hi', '56', '78']